Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish jbakes, publish baked

publish jbakes:
  stage: build
  script:
  - ./gradlew :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish baked:
  stage: build
  script:
  - ./gradlew :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Move background coloring to the layout CSS
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-docs-layout.css
  subprojects/docs/src/jbake/assets/css/docs-base.css
Due: publish jbakes, publish baked

Meaningless change of removing a TODO
  build.gradle
Due: none

Fix padding for ordered list
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-override.css
Due: publish jbakes, publish baked

Improve rich data for Twitter
  subprojects/docs/src/jbake/templates/fragment-meta-open-graph.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-twitter-card.gsp
Due: publish jbakes, publish baked

Defaults twitter card to summary card
  subprojects/docs/src/jbake/templates/fragment-meta-twitter-card.gsp
Due: publish jbakes, publish baked

Remove breadcrumb rich information if none exists
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
Due: publish jbakes, publish baked

Ensure the docs navigation hover color is consistent
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-docs-layout.css
Due: publish jbakes, publish baked

Fix documentation plugin following changes to dev plugins
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: publish jbakes, publish baked

Ignore anything outside macOS
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/nativebase/internal/repositories/NokeeServerServiceTest.groovy
Due: none

Retry to start the nokee server when address is already binded
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/repositories/NokeeServerService.java
Due: none

Add dependencies regarding leakage from AbstractInstalledToolChainIntegrationSpec
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Add comment on dependency to figure out later
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Clean up test files directory when check task in called
  build.gradle
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: publish jbakes, publish baked

Ensure the plugins are published locally before CreateAsciinema task
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Use gradle.properties to align dependency versions
  gradle.properties
  subprojects/docs/docs.gradle
  subprojects/platform-jni/platform-jni.gradle
Due: publish jbakes, publish baked

Upgrade toolbox to latest version
  gradle.properties
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: publish jbakes, publish baked

Use system shared library extension when loading library
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JavaNativeLoader.groovy
Due: none

Prevent Asciinema tasks from running
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Add CI configuration for Windows testing
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Configure CI testing for Linux
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Fix typo in the Windows operating system family tests
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/nativebase/internal/DefaultOperatingSystemFamilyTest.groovy
Due: none

Add CI configuration for macOS testing
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Add operating system family test coverage on FreeBSD
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/nativebase/internal/DefaultOperatingSystemFamilyTest.groovy
Due: none

Normalize the path separators during baked tests
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
Due: publish jbakes, publish baked

Use file URL for documentation repository
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Enable build scan on CI build job
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Rename the documentation CI jobs
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Properly expect descendent MSVC intermediate files
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
Due: none

Add tags and ofuscation to the build scan data
  settings.gradle
Due: none

Add CI configuration for FreeBSD
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Use unzipTo method instead of poor-man implementation
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: publish baked

Ignore Objective-C/C++ tests on Windows and non-GCC/Clang
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCppJniLibrarySampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryWithJUnitTestingFunctionalTest.groovy
Due: publish baked

Improve `unzip` command handling during sample tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Improve `ls` command handling during sample tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Improve generic command handling during samples
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Improve `mv` command handling during tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Ignore backed tests
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/tags/Baked.groovy
Due: publish jbakes, publish baked

Various noop cleanup
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/docs.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/plugins/CompatibilityRules.java
Due: publish jbakes, publish baked

Path conditions:
  publish jbakes: any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish baked: any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
