Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish jbakes, publish baked

publish jbakes:
  stage: build
  script:
  - ./gradlew :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish baked:
  stage: build
  script:
  - ./gradlew :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
  artifacts:
    when: on_failure
    paths:
    - subprojects/docs/build/**/*

Allow mocked consumer/producer tests to pass on Windows
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/dependencies/AbstractConfigurationFunctionalTest.groovy
Due: none

Assemble sample zips for the non-baked tests
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/SampleContentFixture.groovy
Due: publish jbakes, publish baked

Skip Asciinema tasks when building
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Improve `tree` command handling during tests
  subprojects/docs/src/docsTest/antlr/Tree.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/TreeCommandHelper.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Implement poor-man path normalizer inside ./gradlew command tests
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Fix distribution testing on Windows
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Improve `jar` command handling during sample tests
  subprojects/docs/src/docsTest/antlr/Jar.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/JarCommandHelper.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Export methods inside C++ template
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
Due: none

Clean up CI configuration for Windows
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Capture build directory on fail CI job for Windows
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Remove CI configuration for FreeBSD
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Add javadoc to the documentation
  subprojects/docs/docs.gradle
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
  subprojects/platform-jni/platform-jni.gradle
Due: publish jbakes, publish baked

Add source layout to language plugin reference chapters
  subprojects/docs/src/docs/manual/c-language-plugin.adoc
  subprojects/docs/src/docs/manual/cpp-language-plugin.adoc
  subprojects/docs/src/docs/manual/objective-c-language-plugin.adoc
  subprojects/docs/src/docs/manual/objective-cpp-language-plugin.adoc
Due: publish baked

Remove FreeBSD from target machines sample
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/kotlin-dsl/build.gradle.kts
Due: publish baked

Ensure bakePreview host the right directory
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: publish jbakes, publish baked

Encourage users to submit issues for missing samples
  subprojects/docs/src/docs/samples/index.adoc
Due: publish baked

Author the release note for 0.2.0
  subprojects/docs/src/docs/release-notes.adoc
Due: publish baked

Add extension reference in JNI Library Plugin chapter
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
Due: publish baked

Fix "noop" Windows build
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Revert "Make the side menu larger to avoid breaking the Objective-C language plugin link"
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-docs-layout.css
Due: publish jbakes, publish baked

Remove Plugin suffix from navigation to avoid unintended wrapping
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
Due: publish jbakes, publish baked

Ensure target machines are used when selecting a dependency
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/ConfigurationUtils.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Final authoring of the release notes
  subprojects/docs/src/docs/release-notes.adoc
Due: publish baked

Remove opinion on dependencies for frameworks
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/dependencies/AbstractNokeeConfigurationFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/repositories/ConsumingFrameworkFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryDependenciesInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/ConfigurationUtils.java
Due: none

Assume debug build type by default
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Ensure the exception has the right message
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryRules.java
Due: none

Use general version for dependency
  gradle.properties
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-native/platform-native.gradle
Due: none

Add early implementation of iOS application plugin
  subprojects/distributions/distributions.gradle
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/README.adoc
  subprojects/docs/src/docs/samples/objective-c-ios-application/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/objective-c-ios-application/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/objective-c-ios-application/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/ios/ObjectiveCIosApplicationSampleTest.groovy
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationPlugin.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationRules.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/AssetCatalogCompileTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/CreateIosApplicationBundleTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/ProcessPropertyListTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/SignIosApplicationBundleTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardCompileTask.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardLinkTask.java
  subprojects/platform-ios/src/test/groovy/dev/nokee/platform/ios/internal/plugins/IosApplicationPluginTest.groovy
  subprojects/platform-jni/platform-jni.gradle
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/ObjectiveCIosApp.groovy
Due: publish jbakes, publish baked

Limit iOS functional test to Clang on macOS
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
Due: none

Extra the BundleFixture to a seperate class
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/fixtures/BundleFixture.java
Due: none

Add a first implementation to WellBehavingTaskTest fixture
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/StoryboardCompileWellBehavingTaskTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/WellBehavingTaskTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskAssertion.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskProperty.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskPropertyBuilder.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskPropertyMutator.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskPropertyValue.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskSpec.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskTestCase.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskTestSuite.java
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/fixtures/WellBehavingTaskTransform.java
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/tasks/internal/StoryboardCompileTask.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/elements/GenericStoryboard.groovy
Due: none

Enable build scan on CI
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Disable iOS specific task on system other than macOS
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/StoryboardCompileWellBehavingTaskTest.groovy
Due: none

Move sample fixture to correct package
  subprojects/docs/docs.gradle
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/BasicIosApplicationFunctionalTest.groovy
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/StoryboardCompileWellBehavingTaskTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/ios/fixtures/ObjectiveCIosApp.groovy
Due: publish jbakes, publish baked

Fix CI failure caused by project splitting
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: publish jbakes, publish baked

Disable asciinema for iOS application
  subprojects/docs/src/docs/samples/objective-c-ios-application/README.adoc
Due: publish baked

Disable iOS application plugin on non-macOS system
  subprojects/platform-ios/platform-ios.gradle
  subprojects/platform-ios/src/main/java/dev/nokee/platform/ios/internal/plugins/IosApplicationPlugin.java
Due: none

Skip Gradle command timing test is no Gradle commands in sample
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Track possible improvement to well behaving tests
  subprojects/platform-ios/src/functionalTest/groovy/dev/nokee/platform/ios/tasks/WellBehavingTaskTest.groovy
Due: none

Path conditions:
  publish jbakes: any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
  publish baked: any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin/**/*
