Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish jbakes, publish baked

.gitlab-ci.yml:

image: nokeedev/generic-builder

build:
  stage: build
  script: gradle assemble -x :docs:generateSamplesAsciinema -x :docs:compileDocsAsciicast
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

deploy:
  stage: deploy
  script: gradle bintrayUpload
  only:
    - master


publish jbakes:
  stage: build
  script:
    - gradle :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master

publish baked:
  stage: build
  script:
    - gradle :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master

Generate MP4, screenshot and embed player for samples
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateEmbeddedPlayer.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/ExtractScreenshot.java
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/GifCompile.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/BakedHtmlFixture.java
Due: none

Disable assets export
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: none

Pass TERM environment variable when invoked through IntelliJ
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Ignore Asciinema task during feature tests
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Delete previous log files when generating Asciinema
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Validate Twiter metadata for all pages
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/SampleContentFixture.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/docs/src/jbake/templates/fragment-meta-twitter-card.gsp
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
Due: publish jbakes, publish baked

Capture intermediate files on failures
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Use Gradle wrapper all the time
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Use GCC builder for baking documentation
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Always use gcc builder
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Use ExecOperations instead of Apache exec
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/AsciicastCompile.java
Due: none

Add breadcrumb structured data
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/BakedHtmlFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTag.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
  subprojects/docs/src/docs/samples/publish-jni-library/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
Due: publish jbakes, publish baked

Continue building on error to have maximum coverage
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Seperate the asciinema execution into different home directory
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Properly detect changes on docs-gradle-plugin
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Add twitter player width and height
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
Due: publish jbakes, publish baked

Add header to each asciinema cast
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Move docs layout outside of the asciidoctor override
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-override.css
  subprojects/docs/src/jbake/templates/fragment-docs-header.gsp
Due: publish jbakes, publish baked

Move sample only CSS to sample template
  subprojects/docs/src/jbake/templates/fragment-docs-header.gsp
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
Due: publish jbakes, publish baked

Disable twitter card for 0.1.0
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
Due: publish jbakes, publish baked

Prevent null Twitter description
  subprojects/docs/src/jbake/templates/fragment-meta-twitter-card.gsp
Due: publish jbakes, publish baked

Fork the Asciinema process
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/tasks/CreateAsciinema.java
Due: none

Avoid testing canonical links in baked HTMLs
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
Due: none

Implement Objective-C language plugin
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCJniLibrarySampleTest.groovy
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/objectivec/ObjectiveCTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/language/objectivec/internal/plugins/ObjectiveCLanguagePlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCGreeterLib.groovy
Due: publish baked

Make the side menu larger to avoid breaking the Objective-C language plugin link
  subprojects/docs/src/jbake/assets/css/docs-asciidoctor-docs-layout.css
Due: publish jbakes, publish baked

Fix indentation to tabs
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
Due: none

Add Objective-C language plugin in the navigation
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
Due: publish jbakes, publish baked

Add Objective-C JNI library sample
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/java-objective-c-jni-library/README.adoc
  subprojects/docs/src/docs/samples/java-objective-c-jni-library/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/java-objective-c-jni-library/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/java-objective-c-jni-library/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/java-objective-c-jni-library/kotlin-dsl/settings.gradle.kts
Due: publish jbakes, publish baked

Update to development plugin vesion 0.26
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: none

Write Objective-C language plugin documentation
  subprojects/docs/src/docs/manual/img/jni-library-task-graph.dot
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
  subprojects/docs/src/docs/manual/objective-c-language-plugin.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
Due: publish baked

Update developer plugins to enable stacktrace by default
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: none

Update development plugins to 0.0.28
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: none

Generalize the JUnit test for other native language
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCJniLibraryWithJUnitTestingFunctionalTest.groovy
Due: none

Add Objc and Objc++ executable name to domain knowledge toolchain
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/plugins/DomainKnowledgeToolchainsRules.java
Due: none

Add Objective-C++ language documentation
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/manual/img/jni-library-task-graph.dot
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
  subprojects/docs/src/docs/manual/objective-cpp-language-plugin.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
  subprojects/docs/src/docs/samples/java-objective-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/java-objective-cpp-jni-library/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/java-objective-cpp-jni-library/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/java-objective-cpp-jni-library/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/java-objective-cpp-jni-library/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JavaObjectiveCppJniLibrarySampleTest.groovy
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCGreeterLib.groovy
Due: publish jbakes, publish baked

Add Objective-C++ language plugin
  subprojects/platform-jni/platform-jni.gradle
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/language/objectivecpp/ObjectiveCppTaskNames.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaObjectiveCppJniLibraryWithJUnitTestingFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/language/objectivecpp/internal/plugins/ObjectiveCppLanguagePlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCppGreeterLib.groovy
Due: none

Move JavaGreeterJUnitTest to a package
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniObjectiveCGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JavaGreeterJUnitTest.groovy
Due: none

Include official repository in the getting started code
  subprojects/docs/src/docs/manual/getting-started.adoc
Due: publish baked
