Repository nokeedev/gradle-native: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish jbakes, publish baked

publish jbakes:
  stage: build
  script:
  - gradle :docs:publishJbakePublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline
  ...

publish baked:
  stage: build
  script:
  - gradle :docs:publishBakedPublicationToS3Repository
  - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline

Remove unused file
  subprojects/docs/src/jbake/assets/bob.sh
Due: publish jbakes, publish baked

Add resource path for mapping the shared library inside JAR
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithNoLanguageJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryIncrementalFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/base/internal/GroupId.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/NamingScheme.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/base/internal/GroupIdTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/GreeterAppWithJniLibrary.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JavaNativeGreeter.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/elements/JavaNativeLoader.groovy
Due: none

Allow users to configure the resource path for the native library
  subprojects/docs/docs.gradle
  subprojects/docs/src/docs/samples/java-c-jni-library/README.adoc
  subprojects/docs/src/docs/samples/java-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/groovy-dsl/settings.gradle
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/kotlin-dsl/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/kotlin-dsl/settings.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/JniLibraryWithResourcePathSampleTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractJavaJniLibraryFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/base/Variant.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/base/VariantView.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/base/internal/DefaultVariantView.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibrary.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/JniLibraryExtension.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryExtensionInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryRules.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/MachineArchitecture.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/DefaultMachineArchitecture.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/DefaultOperatingSystemFamily.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/DefaultTargetMachineFactory.java
  subprojects/platform-jni/src/test/groovy/dev/nokee/platform/nativebase/internal/DefaultMachineArchitectureTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/GreeterAppWithJniLibrary.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/JavaJniCppGreeterLib.groovy
Due: publish jbakes, publish baked

Use date/time for documentation versioning
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Add preliminary support for FreeBSD operating system family
  subprojects/docs/src/docs/manual/jni_library_plugin.adoc
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/groovy-dsl/build.gradle
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/kotlin-dsl/build.gradle.kts
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/OperatingSystemFamily.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/TargetMachineFactory.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/DefaultOperatingSystemFamily.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/DefaultTargetMachineFactory.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/ToolChainSelectorInternal.java
Due: publish baked

Add some Twitter and open-graph meta data
  subprojects/docs/src/jbake/jbake.properties
  subprojects/docs/src/jbake/templates/header-docs.gsp
  subprojects/docs/src/jbake/templates/meta-open-graph.gsp
  subprojects/docs/src/jbake/templates/meta-twitter-card.gsp
Due: publish jbakes, publish baked

Use binary version of the Gradle development plugins
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
  subprojects/docs/docs.gradle
  subprojects/platform-jni/platform-jni.gradle
  subprojects/templates/build.gradle
Due: publish jbakes, publish baked

Fix getVariants() type changes
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/groovy-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/kotlin-dsl/gradle/plugins/jni-library-publish/src/main/groovy/dev/nokee/samples/JniLibraryPublishPlugin.groovy
Due: publish baked

Fix failures related to resource path configuration and assertion
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/templates/src/main/groovy/dev/nokee/platform/jni/fixtures/GreeterAppWithJniLibrary.groovy
Due: none

Add test coverage for application distribution on a 'clean' machine
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Shortcut the Visual Cpp toolchain
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/ToolChainSelectorInternal.java
Due: none

Add missing import
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
Due: none

Use Antlr for parsing command outputs
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/antlr/Unzip.g4
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/UnzipCommandHelper.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish jbakes, publish baked

Configure position independent code
  subprojects/docs/src/docs/samples/jni-library-composing/groovy-dsl/cpp-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing/groovy-dsl/cpp-jni-greeter/build.gradle
  subprojects/docs/src/docs/samples/jni-library-composing/kotlin-dsl/cpp-greeter/build.gradle.kts
  subprojects/docs/src/docs/samples/jni-library-composing/kotlin-dsl/cpp-jni-greeter/build.gradle.kts
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithJavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaCppJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: publish baked

Use latest version of Gradle development plugin
  gradle/plugins/docs-gradle-plugin/settings.gradle
  settings.gradle
Due: none

Add assemble lifecycle task per variant
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/AbstractTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryTargetMachinesFunctionalTest.groovy
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/JniLibraryInternal.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/jni/internal/plugins/JniLibraryPlugin.java
  subprojects/platform-jni/src/main/java/dev/nokee/platform/nativebase/internal/SharedLibraryBinaryInternal.java
Due: none

Use the installed toolchain infrastructure inside sample testing
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Support only-if condition for sample command testing
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/Command.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/CommandDiscovery.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/OnlyIfCondition.java
Due: publish baked

Add test stage
  .gitlab-ci.yml
Due: publish jbakes, publish baked

Use installed toolchain fixtures for native testing everywhere
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JavaApplicationWithNoLanguageJniLibraryDependenciesFunctionalTest.groovy
  subprojects/platform-jni/src/functionalTest/groovy/dev/nokee/platform/jni/JniLibraryFunctionalTest.groovy
Due: none

Fix broken URLs
  subprojects/docs/src/docs/manual/getting_started.adoc
  subprojects/docs/src/docs/release_notes.adoc
  subprojects/docs/src/docs/samples/java-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/jni-library-composing/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jvm-application-with-jni-library/README.adoc
  subprojects/docs/src/docs/samples/publish-jni-library/README.adoc
  subprojects/docs/src/jbake/templates/docs_navigation.gsp
Due: publish jbakes, publish baked

Introduce HTML broken link tests
  subprojects/docs/docs.gradle
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/DiagnosticsVisitor.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/HtmlLinkTester.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/TreeFormatter.java
Due: publish jbakes, publish baked

Remove links to index.html page directly
  subprojects/docs/src/jbake/templates/docs_navigation.gsp
Due: publish jbakes, publish baked

Fix open-graph URL meta field
  subprojects/docs/src/jbake/templates/meta-open-graph.gsp
Due: publish jbakes, publish baked

Exploded the HtmlLinkTester to support asserting alt text on image
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/HtmlLinkTester.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/BakedHtmlFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/HtmlTag.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/HtmlTagPath.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/UriService.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/html/XPath.java
Due: publish baked

Move test fixtures to docs-gradle-plugin
  gradle/plugins/docs-gradle-plugin/build.gradle
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/DiagnosticsVisitor.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/TreeFormatter.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/BakedHtmlFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlLinkTester.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTag.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagPath.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/UriService.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/XPath.java
  subprojects/docs/docs.gradle
Due: publish jbakes, publish baked

Aligns the templates with the backend repository
  subprojects/docs/src/jbake/assets/css/colorscheme-dark.css
  subprojects/docs/src/jbake/assets/css/colorscheme-light.css
  subprojects/docs/src/jbake/assets/css/menu.css
  subprojects/docs/src/jbake/assets/favicon.ico
  subprojects/docs/src/jbake/templates/fragment-docs-footer.gsp
  subprojects/docs/src/jbake/templates/fragment-docs-header.gsp
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
  subprojects/docs/src/jbake/templates/fragment-gdpr-banner.gsp
  subprojects/docs/src/jbake/templates/fragment-header-generic.gsp
  subprojects/docs/src/jbake/templates/fragment-menu.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-open-graph.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-twitter-card.gsp
  subprojects/docs/src/jbake/templates/header-docs.gsp
  subprojects/docs/src/jbake/templates/manual_chapter.gsp
  subprojects/docs/src/jbake/templates/reference_chapter.gsp
  subprojects/docs/src/jbake/templates/reference_index.gsp
  subprojects/docs/src/jbake/templates/release_notes.gsp
  subprojects/docs/src/jbake/templates/sample_chapter.gsp
  subprojects/docs/src/jbake/templates/sample_index.gsp
Due: publish jbakes, publish baked

Point directly to the current user manual
  subprojects/docs/src/jbake/templates/fragment-menu.gsp
Due: publish jbakes, publish baked

Convert URL to use dashes instead of underscores
  subprojects/docs/src/docs/index.adoc
  subprojects/docs/src/docs/manual/c-language-plugin.adoc
  subprojects/docs/src/docs/manual/cpp-language-plugin.adoc
  subprojects/docs/src/docs/manual/getting-started.adoc
  subprojects/docs/src/docs/manual/index.adoc
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
  subprojects/docs/src/docs/manual/terminology.adoc
  subprojects/docs/src/docs/manual/user-manual.adoc
  subprojects/docs/src/docs/release_notes.adoc
  subprojects/docs/src/docs/samples/java-c-jni-library/README.adoc
  subprojects/docs/src/docs/samples/java-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/jni-library-composing/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-junit-test/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docs/samples/jvm-application-with-jni-library/README.adoc
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docs/samples/publish-jni-library/README.adoc
  subprojects/docs/src/jbake/templates/fragment-docs-navigation.gsp
  subprojects/docs/src/jbake/templates/fragment-menu.gsp
Due: publish jbakes, publish baked

Add Twitter link in menu
  subprojects/docs/src/jbake/assets/css/menu.css
  subprojects/docs/src/jbake/templates/fragment-menu.gsp
Due: publish jbakes, publish baked

Ignore the /current/ paths
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/BrokenLinksTest.groovy
Due: publish baked

Fix alignment
  subprojects/docs/src/jbake/assets/css/menu.css
Due: publish jbakes, publish baked

Add canonical links
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTag.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTestFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/jbake/templates/fragment-meta-canonical.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
  subprojects/docs/src/jbake/templates/redirection.gsp
Due: publish jbakes, publish baked

Ensure og:url is the canonical link
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTag.java
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/jbake/templates/fragment-meta-canonical.gsp
  subprojects/docs/src/jbake/templates/fragment-meta-open-graph.gsp
  subprojects/docs/src/jbake/templates/redirection.gsp
Due: publish jbakes, publish baked

Test baked meta description for all documentation
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/src/docs/index.adoc
  subprojects/docs/src/docs/manual/index.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/fixtures/SampleContentFixture.groovy
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/samples/WellBehavingSampleTest.groovy
Due: publish baked

Add and test meta keyword for all documentation
  gradle/plugins/docs-gradle-plugin/src/testFixtures/java/dev/nokee/docs/fixtures/html/HtmlTagFixture.java
  subprojects/docs/src/docs/index.adoc
  subprojects/docs/src/docs/manual/c-language-plugin.adoc
  subprojects/docs/src/docs/manual/cpp-language-plugin.adoc
  subprojects/docs/src/docs/manual/getting-started.adoc
  subprojects/docs/src/docs/manual/index.adoc
  subprojects/docs/src/docs/manual/jni-library-plugin.adoc
  subprojects/docs/src/docs/manual/plugin-references.adoc
  subprojects/docs/src/docs/manual/terminology.adoc
  subprojects/docs/src/docs/manual/user-manual.adoc
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/docs/samples/index.adoc
  subprojects/docs/src/docs/samples/java-c-jni-library/README.adoc
  subprojects/docs/src/docs/samples/java-cpp-jni-library/README.adoc
  subprojects/docs/src/docs/samples/jni-library-composing/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-junit-test/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
  subprojects/docs/src/docs/samples/jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docs/samples/jvm-application-with-jni-library/README.adoc
  subprojects/docs/src/docs/samples/publish-jni-library-with-target-machines/README.adoc
  subprojects/docs/src/docs/samples/publish-jni-library/README.adoc
  subprojects/docs/src/docsTest/groovy/dev/nokee/docs/ProperBakedHtmlTest.groovy
  subprojects/docs/src/jbake/templates/fragment-meta-generic.gsp
Due: publish jbakes, publish baked

Use links without index.html
  subprojects/docs/src/docs/release-notes.adoc
  subprojects/docs/src/docs/samples/jni-library-with-resource-path/README.adoc
Due: publish baked

Enable Ascinema tasks
  gradle/plugins/docs-gradle-plugin/src/main/java/dev/nokee/docs/DocumentationPlugin.java
Due: none

Align the Gradle wrapper version
  gradle/wrapper/gradle-wrapper.properties
Due: none

Path conditions:
  publish jbakes: any of: .gitlab-ci.yml, subprojects/docs/src/jbake/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin
  publish baked: any of: .gitlab-ci.yml, subprojects/docs/**/*, subprojects/docs/docs.gradle, gradle/plugins/docs-gradle-plugin
